<h1>Fixtures#index</h1>

<% @fixtures.each do |fixture| %>

  <li>
    <b>Stage <%= fixture.stage %>:</b>
    <%= fixture.home_team.acronym %>
    <b>
      <%= fixture.final_score %>
    </b>
    <%= fixture.away_team.acronym %>
    @<%= fixture.stadium.name %>
     -
    <%= link_to "Voir plus", fixture_path(fixture.id) %>
  </li>

<% end %>
